#encoding: latin-1
<html>
	<head>
		<title>Django Girls blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Django girls Blog</a></h1>
		</div>

		<div>
			<p>publicado: 02/11/2015, 12:14</p>
			<h2><a href="">My first post</a></h2>
			<p>Escrevo aqui o meu depoimento sobre a linguagem de programacao Python com o uso do framework Django.
		</div>

		<div>
			<p>publicado: 02/11/2015, 12:14</p>
			<h2><a href="">My second post</a></h2>
			<p>Este e o 2o. posto sobre linguagem de programacao Python com o uso do framework Django.
		</div>
	</body>
</html>